# gradle
.gradle
/build
gradle.properties

# java
*.class
*.jar
*.war
*.ear

# dependencies
/bin/

# log
*.log

# IntelliJ
.idea
*.iml

# Eclipse files
*.project
*.classpath
*.settings
*.externalToolBuilders

# JVM crash logs
hs_err_pid*

# OS
.DS_Store
